@model IEnumerable<Models.Advertentie>
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        welkom @Session["Gebruikersnaam"]
    </div>
    <table class="table">
        <tr>
            <th>
                Titel

            </th>
            <th>
                Nu kopen prijs

            </th>
            <th>
                Einddatum

            </th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nu_Kopen_Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einddatum)
            </td>
        </tr>
        }
            </table>
    </body>

</html>
